.overlay {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.dialog {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  padding: 15px;
  width: 500px;
  height: 200px;
  background: #fff;
}

.dialog span {
  display: inline-block;
}

.close {
  padding-left: 470px;
  border-bottom: 1px solid #eee;
}
